
body{
	margin: 0%;
}
textarea{
	overflow: auto;
	position: relative;
	left: 15%;
	width: 75%;
	height: 50vh;
}

h1{
	width: 50%;
	position: relative;
	top: 8vh;
	left: 40%;
	color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 3vh;
}


label {
	width: 60vh;
	font-size: 3vh;
	position: absolute;
	right: 50vh;
	bottom: -35vh;
}

a{
	color: black;

}

.div {
	text-align: center;
}

p, h2, h3, br {
	text-align: center;
}
