header{
    height: 75px;
    width: 100%;
    background-color: #627890;
    margin-top: -20px;
}

#boxtop{
	position: absolute;
    top: 0px;
	left: 25%;
    right: 25%;
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.bouton_top_acc{
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.bouton_top_acc:hover{
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px #EAF1F8 solid;
    cursor: pointer;
}

.menu_dér{
	position: absolute;
    top: 15px;
	right: 10px;
	 width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}

.menu_dér select{
	 background: #EAF1F8;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

body{
  margin:0%;
}

.copyright{
    color: #EAF1F8;
  font-size: 2vh;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  position: absolute;
  bottom: 0px;
}

footer{
    position: relative;
    background-color: #627890;
    height: 75px;
    bottom: 0px;
    width: 100%;
 }

 #boxbottom{
    position: absolute;
    bottom: : 0.5vh;
    right: 5%;
    display: flex;
    justify-content: space-around;
    width: 50%;
 }
.bouton_bot_footer_cgu{
    position: absolute;
    bottom: 1px;
    right: 0vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_cgu:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.bouton_bot_footer_confi{
    position: absolute;
    bottom: 4vh;
    right: 1vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_confi:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}



