
header{
    height: 75px;
    width: 100%;
    background-color: #627890;
}
/*#boxtop{
	position: absolute;
    top: 0px;
	left: 25%;
    right: 25%;
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.bouton_top_acc{
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.bouton_top_acc:hover{
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px #EAF1F8 solid;
    cursor: pointer;
}

.menu_dér{
	position: absolute;
    top: 15px;
	right: 10px;
	 width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}

.menu_dér select{
	 background: #EAF1F8;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}*/


*{
  font-family: calibri;

}




body{
    margin: 0%;
    background-color: #EAF1F8;
}


.copyright{
    color: #EAF1F8;
  font-size: 2vh;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  position: absolute;
  bottom: 0px;
}



footer{
    z-index: 15;
    position: fixed;
    background-color: #627890;
    height: 75px;
    bottom: 0px;
    width: 100%;
 }

 #boxbottom{
    position: absolute;
    bottom: : 0.5vh;
    right: 5%;
    display: flex;
    justify-content: space-around;
    width: 50%;
 }
.bouton_bot_footer_cgu{
    position: absolute;
    bottom: 1vh;
    right: 40vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_cgu:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.bouton_bot_footer_confi{
    position: absolute;
    bottom: 1vh;
    right: 90vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_confi:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}




/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

nav {
  position: relative;
  top: -5vh;
  padding: 50px;
  text-align: center;
  z-index: 5;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #627890;
  border-radius: 5px;
}

nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: #EAF1F8;
  cursor: pointer;
}
nav > ul > li:hover {
  -webkit-box-shadow: 0 0 5px #b3d1ff;
      box-shadow: 0 0 5px #b3d1ff;
  border-radius: 2px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #627890;
  color: #EAF1F8;
}
ul.drop-menu li:hover {
  background: #5980a6;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > ul.drop-menu.account {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.account li {
  opacity: 0;
  -webkit-animation-name: account;
          animation-name: account;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes account {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes account {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

li:hover > ul.drop-menu.home {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.home li {
  opacity: 0;
}
li:hover > ul.drop-menu.home li:nth-child(1) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(2) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(3) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(4) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes home {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes home {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}


a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}


li:hover > ul.drop-menu.contact {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.contact li {
  opacity: 0;
  -webkit-animation-name: contact;
          animation-name: contact;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes contact {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes contact {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

a {
  color: #EAF1F8;
  text-decoration: none;
}

nav a { 
  color: #EAF1F8;
  text-decoration: none;
}

nav a:hover {
  color: #EAF1F8;
}


.menu_dér{
  z-index: 7;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}

.menu_dér select{

   background: #EAF1F8;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

nav{
  z-index: 5;
}

li:hover > ul.drop-menu.menu_der {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.menu_der li {
  opacity: 0;
  -webkit-animation-name: menu_der;
          animation-name: menu_der;
  -webkit-animation-duration: 300ms;nav
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes menu_der {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes menu_der {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}



nav{
  z-index: 5;
}

li:hover > ul.drop-menu.menu_der {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.menu_der li {
  opacity: 0;
  -webkit-animation-name: menu_der;
          animation-name: menu_der;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes menu_der {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes menu_der {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

.menu_der{
  z-index: 10;
  position: absolute;
  left: 147vh;
  top: -5vh;
}

.menu_der > ul > li{
  width: 150px;
  height: 65px;
}

.menu_der > ul.drop-menu li{
  height: 30px;
}














