* {
	margin: 0%;
	padding: 0%;
	font-family: "Calibri"; 
}

body {
	background-color: #EAF1F8;
	width: 100%;
	height:90%;

}
 
h2 {
	position: relative;
	top: 2vh;
	font-size: 200%;
	color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 3vh;
}



.formulaire {
	position: relative;
	top: 3vh;
	width: 650px;
	height: 650px;
	-webkit-box-shadow: 0 0 50px #C5C6D6;
			box-shadow: 0 0 50px #C5C6D6;
	background-color: #f5fbff;

}

table {
	top: 20%;
	left: -5%;
	position: relative;
	height: 600px;
	width: 600px;
	font-size: 120%;
	text-align: right;
}

input.input-box {

	height: 70%;
	width: 80%;
	margin-left: 10%;
	font-size: 90%;
	text-decoration: underline;
	background-color: #f8fcff;
}

select {
	cursor: pointer;
	height: 65%;
	width: 80%;
	font-size: 90%;
	background-color: #f8fcff;
}


header {
    height: 10%;
    width: 100%;
    background-color: #627890;
}

footer {
    background-color: #627890;
    width: 100%;
    height:10%;
    margin-top: 84px;
}

.form {
	position: relative;
	top: 0px;
}

.select {
	background-color: #f8fcff;
}

input.edit{
	position: relative;
	left: 20vh;
	width: 150px;
	height: 25px;
	background-color: #ecf0f1;
	border-radius: 2px;
	font-size: 80%;
	font-weight: bold;	
}

.button{
	width: 150px;
	height: 25px;
	background-color: #ecf0f1;
	border-radius: 2px;
	font-size: 80%;
	font-weight: bold;

}

.error {
	color: red;
}