*{
    font-family: "Calibri";
}

header{
    height:10%;
    width: 100%;
   background-color: #627890;
}

body{
	/*background-image:url(http://buidln.clipdealer.com/002/656/764//previews/6--2656764-Grey%20background..jpg);*/
    background-color: #EAF1F8;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0%;
}

footer{
    position: relative;
    background-color: #627890;

    height: 10%;
    bottom: 0%;
    width: 100%;
    
}

/*.image{
border: solid black 1px;
position: absolute;
left: 150px;
}*/

img{
	min-width: 100px;
	max-height: 100px;
}

/*.title{
	font: bold;
	position: relative;
}*/

.content{
	border: solid black 1px;
	text-align: center;
}


tr{
	justify-content: left;
}

select{
	display: inline-block;
}
