footer{
	position: absolute;
	bottom: 0px;
}

*{
	font-family: "Calibri";
}

body{
	margin: 0%;
	height: 100vh;
}


.button{
	position: relative;
	left: 6vh;
	height: 3vh;
	width: 7vh;
	font-size: 80%;
	font-weight: bold;
	background-color: #ecf0f1;
	border-radius: 4px;
}

.input-box{
	width: 15vh;
	height: 4vh;
}

table{
	padding: 2vh;
	box-shadow: 2px 2px 10px 3px #bfbfbf;
}

.main-table{
	width: 67vh;
}


input{
	background-color: #f5fbff;
}