/* Feuille de style CSS par défaut sur la page "mainpage"
    C'est aussi la seul page ou je ne vais pas mettre le css du footer en include car il y'a un probleme de positionnement à ce niveau avec le 
    position: absolute
    et
    position: relative

*/


*{
	font-family: calibri;

}


.logo{
    min-width: 160px;
    max-width: 220px;
	width: 20%;
	height: auto;
    margin-top: -10px;
	left: 0px;
    margin-left: 0px;
}



#boxleft{
    position: absolute;
    left: 45px;
    top: 250px;
	display: flex;
	justify-content: space-around;
    flex-direction: column;
    height: 250px;
    width: 95px;

}

.bouton_left_nav{
	color: #627890;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.bouton_left_nav:hover{
	color:#627890;
    border-top: 1px solid #627890;
    border-bottom: 1px solid #627890;
}


.content_section{
	display: flex;
	justify-content: center;
    font-weight: bold;
    font-size: 200%;
}













/* TEST */

header{
    height: 75px;
    width: 100%;
    top: 0px;
    background-color: #627890;
}

nav {
  position: relative;
  text-align: center;
  z-index: 5;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #627890;
  border-radius: 5px;
}

nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: #EAF1F8;
  cursor: pointer;
}
nav > ul > li:hover {
  -webkit-box-shadow: 0 0 5px #b3d1ff;
      box-shadow: 0 0 5px #b3d1ff;
  border-radius: 2px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #627890;
  color: #EAF1F8;
}
ul.drop-menu li:hover {
  background: #5980a6;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 2px 2px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > ul.drop-menu.account {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.account li {
  opacity: 0;
  -webkit-animation-name: account;
          animation-name: account;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes account {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes account {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

li:hover > ul.drop-menu.home {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.home li {
  opacity: 0;
}
li:hover > ul.drop-menu.home li:nth-child(1) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(2) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(3) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(4) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes home {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes home {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}


a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}


li:hover > ul.drop-menu.contact {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.contact li {
  opacity: 0;
  -webkit-animation-name: contact;
          animation-name: contact;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes contact {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes contact {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

a {
  text-decoration: none;
}

nav a { 
  color: #EAF1F8;
  text-decoration: none;
}

nav a:hover {
  color: #EAF1F8;
}


body{
    margin: 0%;
    background-color: #EAF1F8;
}


.copyright{
    color: #EAF1F8;
  font-size: 2vh;
  display: flex;
  justify-content: flex-start;
  width: 400px;
  position: absolute;
  bottom: 0px;
}



footer{
    z-index: 15;
    position: fixed;
    background-color: #627890;
    height: 75px;
    bottom: 0px;
    width: 100%;
 }

 #boxbottom{
    position: absolute;
    bottom: : 0.5vh;
    right: 5%;
    display: flex;
    justify-content: space-around;
    width: 50%;
 }
.bouton_bot_footer_cgu{
    position: absolute;
    bottom: 1vh;
    right: 40vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_cgu:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.bouton_bot_footer_confi{
    position: absolute;
    bottom: 1vh;
    right: 90vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_confi:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}






/*----------------------------------------------------------- 13/01/17 ----------------------------------------------------------------------------------*/





.container-sensors{
    background-color: #EAF1F8;
    border: 1px black solid;
    width: 30vh;
    height: 80vh;
}



section{
    border: 1px black solid;
    position: absolute;
    top: 10%;
    margin-left:53px;
    left: 15%;
    width: 80%;
    height: 80%;
    background-color: #EAF1F8;
    box-sizing: border-box;
}

/* ------------------ Calendar ---------------*/ 

div.hasDatepicker{
  position: relative;
  left: 125vh;
}

.ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all
{
  width: 20px;
}
img.function{
  border-radius: 100vh;
    width: 14vh;
    height: 14vh;
}

img.function:hover{
  border-radius: 100vh;
  -webkit-box-shadow: 0 0 5px 1px #a6a6a6;
  -moz-box-shadow: 0 0 5px 1px #a6a6a6;
  box-shadow: 0 0 5px 1px #a6a6a6; 
  transition: all 0.1s ease-in-out;
  width: 14.5vh;
  height: 14.5vh;

}

img.sensor{

    width: 2vh;
    height: 2vh;
}

div.menu-bar-function ul ul {
  display: none;
}

div.menu-bar-function li:hover > ul {
  display: block;

}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}


#luminosite{
    position: absolute;
    top: 25vh;
    left: 15vh;
}

#securite{
    position: absolute;
    left: 40vh;
    top: 25vh;
}

#aeration{
    position: absolute;
    top: 25vh;
    left: 65vh;

}

#temperature{
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#co2{
    position: absolute;
    top: 25vh;
    left: 115vh;
}

.align{
    position: relative;
    left: 4vh;
    color: #6600ff;
}

.align:hover{
    position: relative;
    left: 4vh;
    color: #7753ac;
}


.lum-text{
    color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.5vh;
    position: absolute;
    top: 21vh;
    left: 16.9vh;
}

.sec-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 21vh;
    left: 43.4vh;
}

.aera-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 21vh;
    left: 67vh;
}

.temp-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 21vh;
    left: 91.7vh;
}

.co2-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 21vh;
    left: 118.3vh;
}

.function-text{
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#bathroom{
    position: absolute;
    top: 52vh;
    left: 5vh;
}

#bedroom{
    position: absolute;
    left: 28vh;
    top: 52vh;
    
}

#kitchen{
    position: absolute;
    left: 51vh;
    top: 52vh;

}

#laundryroom{
    position: absolute;
    left: 74vh;
    top: 52vh;
}

#livingroom{
    position: absolute;
    left: 97vh;
    top: 52vh;
}

#office{
    position: absolute;
    left: 120vh;
    top: 52vh;
}

.menu-bar-room{
    width: 20vh;
    height: 20vh;
    margin: 0%;
}

div.menu-bar-room  ul ul {
  display: none;
}

div.menu-bar-room li:hover > ul {
  display: block;

}
.bath-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 48vh;
    left: 7.9vh;
}

.bed-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 48vh;
    left: 31.3vh;
}

.kitchen-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 48vh;
    left: 54.8vh;
}

.laundry-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 48vh;
    left: 75.5vh;
}

.living-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 48vh;
    left: 99.5vh;
}

.office-text{
   color:#627890;
    text-shadow: rgb(224, 234, 255) 0px 2px 5px;
    font-size: 2.2vh;
    position: absolute;
    top: 48vh;
    left: 124.6vh;
}

.hover-text-list{
    color: #5353ac;
}

.hover-text-list:hover{
    color: #ac5396;
    text-decoration: underline;
}

.function{
  cursor: pointer;
}

.menu_dér{
  cursor: pointer;
  color:#EAF1F8;
  z-index: 7;
    position: absolute;
    top: 30px;
    right: 10px;
     width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #627890;
}
.menu_dér select{
  cursor: pointer;
  color:#EAF1F8;
     background:  #627890;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}


li:hover > ul.drop-menu.menu_der {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.menu_der li {
  opacity: 0;
  -webkit-animation-name: menu_der;
          animation-name: menu_der;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes menu_der {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes menu_der {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

.menu_der{
  z-index: 10;
  position: absolute;
  left: 85%;
}

.menu_der > ul > li{
  width: 150px;
  height: 65px;
}

.menu_der > ul.drop-menu li{
  height: 30px;
}

.ui-datepicker {
  margin: 0px;
  width: 210px;
  height: auto;
  width: auto
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

#datepicker.hasdatepicker {
  width: 0px;
  left: 81%;
}







------------------------------------------------------------------------------------------------------------------------------------------------------








