/* Feuille de style CSS par défaut sur la page "mainpage"
    C'est aussi la seul page ou je ne vais pas mettre le css du footer en include car il y'a un probleme de positionnement à ce niveau avec le 
    position: absolute
    et
    position: relative

*/


*{
	font-family: calibri;

}



.logo{
    min-width: 160px;
    max-width: 220px;
	width: 20%;
	height: auto;
    margin-top: -10px;
	left: 0px;
    margin-left: 0px;
}



#boxleft{
    position: absolute;
    left: 45px;
    top: 250px;
	display: flex;
	justify-content: space-around;
    flex-direction: column;
    height: 250px;
    width: 95px;

}

.bouton_left_nav{
	color: #627890;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.bouton_left_nav:hover{
	color:#627890;
    border-top: 1px solid #627890;
    border-bottom: 1px solid #627890;
}


footer{
    position: relative;
    top: 4.8vh;

}


.content_section{
	display: flex;
	justify-content: center;
    font-weight: bold;
    font-size: 200%;
}













/* TEST */

header{
    height: 12vh;
    width: 100%;
    background-color: #627890;
    margin-top: -20px;
}

nav {
  position: relative;
  top: -5vh;
  padding: 50px;
  text-align: center;
  z-index: 5;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #EAF1F8;
  border-radius: 5px;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: #627890;
  cursor: pointer;
}
nav > ul > li:hover {
  background: #ccd9ff;
  border-radius: 5px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #627890;
  color: #EAF1F8;
}
ul.drop-menu li:hover {
  background: #5980a6;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > ul.drop-menu.account {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.account li {
  opacity: 0;
  -webkit-animation-name: account;
          animation-name: account;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes account {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes account {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

li:hover > ul.drop-menu.home {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.home li {
  opacity: 0;
}
li:hover > ul.drop-menu.home li:nth-child(1) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(2) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(3) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.home li:nth-child(4) {
  -webkit-animation-name: home;
          animation-name: home;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes home {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes home {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}


a{
  color: #EAF1F8;
  text-decoration: none;
}


li:hover > ul.drop-menu.contact {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.contact li {
  opacity: 0;
  -webkit-animation-name: contact;
          animation-name: contact;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes contact {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes contact {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}


body{
    margin: 0%;
    background-color: #EAF1F8;
}


.copyright{
    color: #EAF1F8;
  font-size: 2vh;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  position: absolute;
  bottom: 0px;
}



footer{
    position: relative;
    background-color: #627890;
    height: 75px;
    bottom: 0px;
    width: 100%;
 }

 #boxbottom{
    position: absolute;
    bottom: : 0.5vh;
    right: 5%;
    display: flex;
    justify-content: space-around;
    width: 50%;
 }
.bouton_bot_footer_cgu{
    position: absolute;
    bottom: 1vh;
    right: 40vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_cgu:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.bouton_bot_footer_confi{
    position: absolute;
    bottom: 1vh;
    right: 90vh;
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.bouton_bot_footer_confi:hover{
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}






/*----------------------------------------------------------- 13/01/17 ----------------------------------------------------------------------------------*/





.container-sensors{
    background-color: #EAF1F8;
    border: 1px black solid;
    width: 30vh;
    height: 80vh;
}



section{
    border: 1px black solid;
    position: absolute;
    top: 10%;
    margin-left:53px;
    left: 15%;
    width: 80%;
    height: 80%;
    background-color: #EAF1F8;
    box-sizing: border-box;
}

/* ------------------ Calendar ---------------*/ 

.dycalendar-month-container{
    position: relative;
    left: 70%;
    border: 1px solid black;
    text-decoration: none;
    width: 20vh;
}


.container-calendar{
    width: 20vh;
    position: relative;
    left: 75%;
}

.container-functions{
    border: 1px black solid;
    width: 100%;
    height: 33%;
}

.container-rooms{
    border: 1px black solid;
    width: 100%;
    height: 33%;
}

.container-log{
    border: 1px black solid;
    width: 100%;
    height: 33%;
}

#calendar-text{
    position: relative;
    left: 84%;
    cursor: pointer;

}

#calendar-text:hover{
    position: relative;
    left: 84%;
    cursor: pointer;

}


img{
    width: 15vh;
    height: 15vh;
}

div.menu-bar-function ul ul {
  display: none;
}

div.menu-bar-function li:hover > ul {
  display: block;

}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}




th{
    width: 200px;
    height: 200px;
}

#luminosite{
    position: absolute;
    top: 25vh;
    left: 15vh;
}

#securite{
    position: absolute;
    left: 40vh;
    top: 25vh;
}

#aeration{
    position: absolute;
    top: 25vh;
    left: 65vh;

}

#temperature{
    position: absolute;
    top: 25vh;
    left: 90vh;
}

#co2{
    position: absolute;
    top: 25vh;
    left: 115vh;
}

.align{
    position: relative;
    left: 4vh;
    color: #6600ff;
}

.align:hover{
    position: relative;
    left: 4vh;
    color: #7753ac;
}


.lum-text{
    position: absolute;
    top: 22vh;
    left: 18vh;
}

.sec-text{
    position: absolute;
    top: 22vh;
    left: 44vh;
}

.aera-text{
    position: absolute;
    top: 22vh;
    left: 69.5vh;
}

.temp-text{
    position: absolute;
    top: 22vh;
    left: 92.5vh;
}

.co2-text{
    position: absolute;
    top: 22vh;
    left: 121vh;
}

.function-text{
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#bathroom{
    position: absolute;
    top: 52vh;
    left: 5vh;
}

#bedroom{
    position: absolute;
    left: 28vh;
    top: 52vh;
    
}

#kitchen{
    position: absolute;
    left: 51vh;
    top: 52vh;

}

#laundryroom{
    position: absolute;
    left: 74vh;
    top: 52vh;
}

#livingroom{
    position: absolute;
    left: 97vh;
    top: 52vh;
}

#office{
    position: absolute;
    left: 120vh;
    top: 52vh;
}

.menu-bar-room{
    width: 20vh;
    height: 20vh;
    margin: 0%;
}

div.menu-bar-room  ul ul {
  display: none;
}

div.menu-bar-room li:hover > ul {
  display: block;

}
.bath-text{
    position: absolute;
    top: 49vh;
    left: 8vh;
}

.bed-text{
    position: absolute;
    top: 49vh;
    left: 31.5vh;
}

.kitchen-text{
    position: absolute;
    top: 49vh;
    left: 55vh;
}

.laundry-text{
    position: absolute;
    top: 49vh;
    left: 76.3vh;
}

.living-text{
    position: absolute;
    top: 49vh;
    left: 100vh;
}

.office-text{
    position: absolute;
    top: 49vh;
    left: 125vh;
}

.hover-text-list{
    color: #5353ac;
}

.hover-text-list:hover{
    color: #ac5396;
    text-decoration: underline;
}


