@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular*/ 
    font-family: 'LearningCurveProRegular';
    src: url('LearningCurve_OT-webfont.eot');
    src: url('LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('LearningCurve_OT-webfont.woff') format('woff'),
         url('LearningCurve_OT-webfont.ttf') format('truetype'),
         url('LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');$
}

*{
	font-family: calibri;
}

header{
    height: 75px;
    width: 100%;
    background-color: #627890;
    margin-top: -20px;
}

body{
	/*background-image:url(http://buidln.clipdealer.com/002/656/764//previews/6--2656764-Grey%20background..jpg);*/
    background-color: #EAF1F8;
    margin: 0px;
}



.logo{
    min-width: 160 px;
    max-width: 220px;
	width: 20%;
	height: auto;
    margin-top: -10px;
	left: 0px;
    margin-left: 0px;
}

#boxtop{
	position: absolute;
    top: 0px;
	left: 25%;
    right: 25%;
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.bouton_top_acc{
	/*background-color: #6F3E9C;*/
    /*border: solid;
    border-radius: 12px;*/
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    /*transition: font-size 500ms ease;
    -webkit-transition: font-size 500ms ease-out;
    -moz-transition: font-size 500s ease-out;
    -o-transition: font-size 500s ease-out;
    /*transition: background-color 2s ease;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: border-radius 2s ease;
    -webkit-transition: border-radius 2s ease-out;
    -moz-transition: border-radius 2s ease-out;
    -o-transition: border-radius 2s ease-out;*/
}

.bouton_top_acc:hover{
	/*background-color: #C265C0;*/
    /*border: solid;
    border-radius: 4px;*/
    color: #EAF1F8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-top: 1px #EAF1F8 solid;
    border-bottom: 1px #EAF1F8 solid;
    cursor: pointer


    /*font-size: 35px;
    /*transition: font-size 500ms ease;
    -webkit-transition: font-size 500ms ease-out;
    -moz-transition: font-size 500ms ease-out;
    -o-transition: font-size 500ms ease-out;
    /*transition: background-color 2s ease;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
     transition: border-radius 2s ease;
    -webkit-transition: border-radius 2s ease-out;
    -moz-transition: border-radius 2s ease-out;
    -o-transition: border-radius 2s ease-out;*/
}

.menu_dér{
	position: absolute;
    top: 30px;
	right: 10px;
	 width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}

.menu_dér select{
	 background: #EAF1F8;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

#boxleft{
    position: absolute;
    left: 45px;
    top: 250px;
	display: flex;
	justify-content: space-around;
    flex-direction: column;
    height: 250px;
    width: 95px;

}

.bouton_left_nav{
	/*background-color: #C265C0;*/
	color: #627890;
	text-align: center;
	/*border: 1px solid #6F3E9C;*/
	text-decoration: none;
	font-size: 20px;
	/*transition
     font-size 500ms ease-out;
	 -webkit-transition: font-size 500ms ease-out;
    -moz-transition: font-size 500ms ease-out;
    -o-transition: font-size 500ms ease-out;*/
}

.bouton_left_nav:hover{
	color:#627890;
    border-top: 1px solid #627890;
    border-bottom: 1px solid #627890;
	/*font-size: 30px;*/
	/*text-decoration: underline;*/
	/*transition: font-size 500ms ease-out;
	 -webkit-transition: font-size 500ms ease-out;
    -moz-transition: font-size 500ms ease-out;
    -o-transition: font-size 500ms ease-out;*/
}


section{
    position: absolute;
    top: 15%;
    margin-left:53px;
    left: 15%;
    width: 80%;
    height: 70%;
    background-color: white;
    box-sizing: border-box;
    /*height: 600px;
    width: 1100px;
    background-color: white;
    box-shadow: 10px 10px 5px #AFAFAF;*/
}






























.content_section{
	display: flex;
	justify-content: center;
    font-weight: bold;
    font-size: 200%;
}


footer{
    position: absolute;
    background-color: #627890;
    height: 75px;
    bottom: 0%;
    width: 100%;

}

.copyright{ /* Utilisation de la police qu'on vient de définir sur toute la page */
	/*font-family: 'LearningCurveProRegular', Arial, serif;*/
    color: #EAF1F8;
	font-size: 19px;
	display: flex;
	justify-content: flex-start;
	/*border: solid 1px #C265C0;*/
	width: 200px;
	position: absolute;
	bottom: 0px;
}














